* {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body {
    background-color: rgb(17, 17, 17);
    color: rgb(223, 217, 217);
}

.header {
    background-color: rgb(94, 94, 13);
    text-align: center;
}  

.section.header {
    font-size: 50px;
}

.subsection.header {
    font-size: 35px;
}

.description.para {
    text-align: center;
}

.food.img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.recipe.link {
    font-size: 30px;
}

.recipe.link:link {
    color:rgb(223, 217, 217)
}

.recipe.link:visited {
    color: rgb(94, 94, 13);
}

.recipe.link:hover {
    color: rgb(148, 18, 18);
}